services:
  app:
    image: ghcr.io/haejin315/mywebchat-app:latest
    container_name: mywebchat-app
    restart: unless-stopped
    expose:
      - "8080"
    environment:
      - PORT=8080

  nginx:
    image: ghcr.io/haejin315/mywebchat-nginx:latest
    container_name: mywebchat-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot:ro
    depends_on:
      - app
    extra_hosts:
      - "host.docker.internal:host-gateway"
